#charinput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#charlist {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#charlist li{
  padding: 10px;
}

#charlist li a {
/*  background-color: #f6f6f6; */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  text-align: center;
  color: white; /* Add a black text color */
  opacity: 0.6;
  display: block; /* Make it into a block element to fill the whole list */
}

.character-icon {
  width: 100%;
  opacity: 1;
}

#charlist li a:hover:not(.header) {
  opacity: 1; /* Add a hover effect to all links, except for headers */
}